<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <h2 id="jhi-report-blocks-heading" data-cy="ReportBlocksCreateUpdateHeading" *ngIf="type !== 'report'">
        {{ type === 'template' ? 'Edit template' : type === 'content' ? 'Edit content' : 'Add new block' }}
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <h4 *ngIf="type === 'content' || (type === 'report' && !isEdit)">
          <b>{{ editForm.controls.name.getRawValue() }}</b>
        </h4>
        <br />
        <div *ngIf="type === 'template' || type === 'new' || (type === 'report' && isEdit)" class="row mb-3">
          <label class="form-label" for="field_name">Name:</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>
        <div class="row mb-3" *ngIf="type !== 'report'">
          <label>Country: {{ type === 'content' ? selectedCountry?.countryName : '' }}</label>
          <select
            *ngIf="type === 'template' || type === 'new'"
            class="form-control"
            id="field_countryIds"
            data-cy="countryId"
            multiple
            name="countryIds"
            formControlName="countryIds"
            [compareWith]="compareCountries"
          >
            <option [ngValue]="countriesOption" *ngFor="let countriesOption of countriesSharedCollection">
              {{ countriesOption.countryName }}
            </option>
          </select>
        </div>

        <div class="row mb-3" *ngIf="type !== 'report'">
          <label class="form-label" for="field_report">Report:</label>
          <select
            class="form-control"
            id="field_report"
            data-cy="report"
            name="report"
            formControlName="report"
            [compareWith]="compareReport"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="reportOption" *ngFor="let reportOption of reportsSharedCollection">{{ reportOption.reportName }}</option>
          </select>
        </div>

        <ul *ngIf="type !== 'new'">
          <li
            *ngFor="let content of reportBlocks?.reportBlocksContents | sortContentByPriority; let contentIndex = index"
            class="custom-list-li"
          >
            <div *ngIf="!content.deleted" class="custom-list">
              <div style="display: flex; justify-content: space-between">
                <span *ngIf="type !== 'report'">Type: {{ content.type }}</span>
                <span *ngIf="type === 'template' || (type === 'report' && isEdit)"></span>
                <button
                  *ngIf="type === 'template' || (type === 'report' && isEdit)"
                  (click)="removeSubBlock(content)"
                  class="btn btn-outline-danger"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>

              <table *ngIf="content.type === 'table'" class="table table-bordered">
                <thead>
                  <tr>
                    <th [attr.colspan]="getColumns(content.template ?? '{}').length + 1" class="text-center">
                      <span>{{
                        type === 'content' || (type === 'report' && !isEdit)
                          ? getFormControlByKey('content_' + content.id + '_name').value
                          : ''
                      }}</span>

                      <input
                        [id]="'content_' + content.id + '_name'"
                        *ngIf="type === 'template' || (type === 'report' && isEdit)"
                        [formControl]="getFormControlByKey('content_' + content.id + '_name')"
                        placeholder="Enter..."
                        class="form-control"
                      />
                      <br />
                    </th>
                  </tr>
                  <tr>
                    <th *ngFor="let column of tableColumns.get(content.id).columns; let columnIndex = index" class="text-center">
                      <input
                        [id]="'column_' + content.id + '_' + column.index"
                        [formControl]="getColumnFormControl(content, column.index)"
                        placeholder="New column"
                        class="form-control"
                        *ngIf="type === 'template' || (type === 'report' && isEdit)"
                      />
                      <h6 *ngIf="type === 'content' || (type === 'report' && !isEdit)">
                        <b>{{ getColumnFormControl(content, column.index).value }}</b>
                      </h6>
                      <button
                        *ngIf="type === 'template' || (type === 'report' && isEdit)"
                        id="remove-column"
                        (click)="removeColumn(content, columnIndex, column.index)"
                        class="btn btn-outline-primary"
                      >
                        <b>-</b>
                      </button>
                    </th>
                    <th *ngIf="type === 'template' || (type === 'report' && isEdit)" class="text-center">
                      <button id="add-column" (click)="addColumn(content)" class="btn btn-outline-success">
                        <b>+</b>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="type === 'content' || type === 'report'">
                  <tr *ngFor="let row of content.reportBlocksContentData; let rowIndex = index">
                    <td *ngFor="let column of tableColumns.get(content.id).columns" class="text-center">
                      <input
                        [id]="'row_' + content.id + '_' + content.reportBlocksContentData[rowIndex].id + '_column_' + column.index"
                        [name]="'row_' + content.id + '_' + content.reportBlocksContentData[rowIndex].id + '_column_' + column.index"
                        *ngIf="type === 'content' || (type === 'report' && isEdit)"
                        [formControl]="getRowDataFormControl(content, rowIndex, column.index)"
                        placeholder="Data"
                        class="form-control"
                      />
                      <h6 *ngIf="type === 'report' && !isEdit">
                        {{ getRowDataFormControl(content, rowIndex, column.index).value }}
                      </h6>
                    </td>
                    <td *ngIf="type === 'content' || (type === 'report' && isEdit)" class="text-center">
                      <button id="remove-row" (click)="removeRow(content, rowIndex, row.id)" class="btn btn-outline-primary">
                        <b>-</b>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="type === 'content' || (type === 'report' && isEdit)">
                    <td [attr.colspan]="getColumns(content.template ?? '{}').length + 1" class="text-center">
                      <button id="add-row" (click)="addRow(content)" class="btn btn-outline-success"><b>+</b></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="content.type === 'text'">
                <span
                  >Name:
                  {{
                    type === 'content' || (type === 'report' && !isEdit) ? getFormControlByKey('content_' + content.id + '_name').value : ''
                  }}</span
                >

                <input
                  *ngIf="type === 'template' || (type === 'report' && isEdit)"
                  [formControl]="getFormControlByKey('content_' + content.id + '_name')"
                  placeholder="Enter..."
                  class="form-control"
                />
                <br />
              </div>

              <span *ngIf="type === 'template' && content.type === 'text'">*Default text for selected countries</span>
              <angular-editor
                *ngIf="content.type === 'text' && type === 'template'"
                [formControl]="getFormControlByKey('content_' + content.id + '_data')"
              ></angular-editor>
              <div *ngFor="let row of content.reportBlocksContentData; let rowIndex = index">
                <angular-editor
                  *ngIf="content.type === 'text' && (type === 'content' || (type === 'report' && isEdit))"
                  [formControl]="getFormControlByKey('content_' + content.id + '_' + row.id + '_data')"
                ></angular-editor>
                <div
                  *ngIf="content.type === 'text' && type === 'report' && !isEdit"
                  [innerHtml]="getFormControlByKey('content_' + content.id + '_' + row.id + '_data').value"
                ></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </form>

    <div>
      <button
        *ngIf="type !== 'report'"
        type="button"
        id="cancel-save"
        data-cy="entityCreateCancelButton"
        class="btn btn-secondary"
        (click)="previousState()"
      >
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>
      <div *ngIf="type === 'template'" class="btn-group">
        <button class="btn btn btn-success" style="background-color: #0077bf" (click)="addTextSubBlock()">
          <i class="fas fa-plus plus-icon">+</i>Add Static text
        </button>

        <button class="btn btn btn-success" style="background-color: #0077bf" (click)="addStructuredSubBlock()">
          <i class="fas fa-plus plus-icon">+</i>Add Structured table
        </button>
      </div>

      <button *ngIf="type === 'report' && !isEdit" (click)="isEditChange()" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>

      <button
        *ngIf="type !== 'report' || isEdit"
        type="submit"
        (click)="save()"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
    </div>
  </div>
</div>
