<div>
  <h2 id="page-heading" data-cy="ReferenceTableSettingsHeading">
    <span>Reference Table Settings</span>

    <div class="d-flex justify-content-end">
      <!--      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">-->
      <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
      <!--        <span>Refresh list</span>-->
      <!--      </button>-->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reference-table-settings"
        [routerLink]="['/reference-table-settings/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Reference Table Settings </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="referenceTableSettings?.length === 0">
    <span>No Reference Table Settings found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="referenceTableSettings && referenceTableSettings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refTable">
            <div class="d-flex">
              <span>Reference Table</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="columns">
            <div class="d-flex">
              <span>Columns</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!--          <th scope="col" jhiSortBy="path">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Path</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="isActive">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Is Active</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="file">
            <div class="d-flex">
              <span>File</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let referenceTableSettings of referenceTableSettings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reference-table-settings', referenceTableSettings.id, 'view']">{{ referenceTableSettings.id }}</a>
          </td>
          <td>{{ referenceTableSettings.refTable }}</td>
          <td>
            {{ referenceTableSettings.columns }}
            <span *ngIf="referenceTableSettings.columns && referenceTableSettings.columns.length > 200" style="color: #10abce">
              <a [routerLink]="['/reference-table-settings', referenceTableSettings.id, 'view']">show more</a>
            </span>
          </td>
          <!--          <td>-->
          <!--            <a *ngIf="referenceTableSettings.file" (click)="openFile(referenceTableSettings.file, referenceTableSettings.fileContentType)"-->
          <!--              >Open</a-->
          <!--            >-->
          <!--            <span *ngIf="referenceTableSettings.file"-->
          <!--              >{{ referenceTableSettings.fileContentType }}, {{ byteSize(referenceTableSettings.file) }}</span-->
          <!--            >-->
          <!--          </td>-->
          <td>
            <span class="download-link">
              <a
                *ngIf="referenceTableSettings.file"
                (click)="openFile(referenceTableSettings.file, referenceTableSettings.fileContentType)"
                style="color: red"
              >
                <i class="fas fa-download"></i> <span style="color: red">Download</span>
              </a>
              <a style="color: red"></a>
            </span>
          </td>
          <!--          <td>{{ referenceTableSettings.path }}</td>-->
          <!--          <td>{{ referenceTableSettings.isActive }}</td>-->
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reference-table-settings', referenceTableSettings.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reference-table-settings', referenceTableSettings.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(referenceTableSettings)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
