<div>
  <h2 id="page-heading" data-cy="ReportBlocksHeading">
    <span>Report Blocks</span>

    <div class="d-flex justify-content-end">
      <!--      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">-->
      <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
      <!--        <span>Refresh list</span>-->
      <!--      </button>-->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-blocks"
        [routerLink]="['/report-blocks/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Report Block </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reportBlocks?.length === 0">
    <span>No Report Blocks found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reportBlocks && reportBlocks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--          <th scope="col" jhiSortBy="id">-->
          <!--            <div class="d-flex">-->
          <!--              <span>ID</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="countryId.id">
            <div class="d-flex">
              <span>Country Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportId.id">
            <div class="d-flex">
              <span>Report Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reportBlocks of reportBlocks; trackBy: trackId" data-cy="entityTable">
          <!--          <td>-->
          <!--            <a [routerLink]="['/report-blocks', reportBlocks.id, 'view']">{{ reportBlocks.id }}</a>-->
          <!--          </td>-->
          <td>{{ reportBlocks.name }}</td>
          <td>
            <span *ngFor="let countryId of reportBlocks.countryIds; let last = last">
              <a class="form-control-static" [routerLink]="['/countries', countryId.id, 'view']">{{ countryId.countryCode }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let reportId of reportBlocks.reportIds; let last = last">
              <a class="form-control-static" [routerLink]="['/report', reportId.id, 'view']">{{ reportId.reportName }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div>
              <!--              <button-->
              <!--                type="submit"-->
              <!--                [routerLink]="['/report-blocks', reportBlocks.id, 'view']"-->
              <!--                class="btn btn-info btn-sm"-->
              <!--                data-cy="entityDetailsButton"-->
              <!--              >-->
              <!--                <fa-icon icon="eye"></fa-icon>-->
              <!--                <span class="d-none d-md-inline">View</span>-->
              <!--              </button>-->
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/report-blocks', reportBlocks.id, 'edit-template']"
                  class="btn btn btn-success btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit Template</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/report-blocks', reportBlocks.id, 'country-content']"
                  class="btn btn btn-warning btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit Content</span>
                </button>
              </div>

              <button type="submit" (click)="delete(reportBlocks)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
