<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span>People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Person </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
    <span>No People found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="people && people.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eunDbId">
            <div class="d-flex">
              <span>Eun Db Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstname">
            <div class="d-flex">
              <span>Firstname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastname">
            <div class="d-flex">
              <span>Lastname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salutation">
            <div class="d-flex">
              <span>Salutation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mainContractEmail">
            <div class="d-flex">
              <span>Main Contract Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="extraContractEmail">
            <div class="d-flex">
              <span>Extra Contract Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="languageMotherTongue">
            <div class="d-flex">
              <span>Language Mother Tongue</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="languageOther">
            <div class="d-flex">
              <span>Language Other</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="website">
            <div class="d-flex">
              <span>Website</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mobile">
            <div class="d-flex">
              <span>Mobile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span>Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="socialNetworkContacts">
            <div class="d-flex">
              <span>Social Network Contacts</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gdprStatus">
            <div class="d-flex">
              <span>Gdpr Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastLoginDate">
            <div class="d-flex">
              <span>Last Login Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eunTeamMember.id">
            <div class="d-flex">
              <span>Eun Team Member</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eventParticipant.id">
            <div class="d-flex">
              <span>Event Participant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="personInOrganization.id">
            <div class="d-flex">
              <span>Person In Organization</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="personInProject.id">
            <div class="d-flex">
              <span>Person In Project</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
          </td>
          <td>{{ person.eunDbId }}</td>
          <td>{{ person.firstname }}</td>
          <td>{{ person.lastname }}</td>
          <td>{{ person.salutation }}</td>
          <td>{{ person.mainContractEmail }}</td>
          <td>{{ person.extraContractEmail }}</td>
          <td>{{ person.languageMotherTongue }}</td>
          <td>{{ person.languageOther }}</td>
          <td>{{ person.description }}</td>
          <td>{{ person.website }}</td>
          <td>{{ person.mobile }}</td>
          <td>{{ person.phone }}</td>
          <td>{{ person.socialNetworkContacts }}</td>
          <td>{{ person.status }}</td>
          <td>{{ person.gdprStatus }}</td>
          <td>{{ person.lastLoginDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="person.eunTeamMember">
              <a [routerLink]="['/eun-team-member', person.eunTeamMember.id, 'view']">{{ person.eunTeamMember.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.eventParticipant">
              <a [routerLink]="['/event-participant', person.eventParticipant.id, 'view']">{{ person.eventParticipant.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.personInOrganization">
              <a [routerLink]="['/person-in-organization', person.personInOrganization.id, 'view']">{{ person.personInOrganization.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.personInProject">
              <a [routerLink]="['/person-in-project', person.personInProject.id, 'view']">{{ person.personInProject.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="people && people.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
