<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eunTeam">
      <h2 data-cy="eunTeamDetailsHeading"><span>Eun Team</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ eunTeam.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ eunTeam.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ eunTeam.description }}</span>
        </dd>
        <dt><span>Eun Team Member</span></dt>
        <dd>
          <div *ngIf="eunTeam.eunTeamMember">
            <a [routerLink]="['/eun-team-member', eunTeam.eunTeamMember.id, 'view']">{{ eunTeam.eunTeamMember.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/eun-team', eunTeam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
