<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="personInProject">
      <h2 data-cy="personInProjectDetailsHeading"><span>Person In Project</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ personInProject.id }}</span>
        </dd>
        <dt><span>Role In Project</span></dt>
        <dd>
          <span>{{ personInProject.roleInProject }}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
          <div *ngIf="personInProject.person">
            <a [routerLink]="['/person', personInProject.person.id, 'view']">{{ personInProject.person.id }}</a>
          </div>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
          <div *ngIf="personInProject.project">
            <a [routerLink]="['/project', personInProject.project.id, 'view']">{{ personInProject.project.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/person-in-project', personInProject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
