<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">About Us</h5>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis arcu placerat, aliquet diam non, commodo tortor. Proin eu ante
          arcu. Fusce ullamcorper felis justo, eu commodo elit hendrerit sed. Duis ultrices ipsum sed purus volutpat, eget bibendum enim
          ultricies.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Home</a>
          </li>
          <li>
            <a href="#!" class="text-dark">About Us</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Services</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled mb-0">
          <li><i class="bi bi-geo-alt-fill"></i> Address: 123 Main Street, New York, NY 10001</li>
          <li><i class="bi bi-envelope-fill"></i> Email: example@example.com</li>
          <li><i class="bi bi-phone-fill"></i> Phone: +1 123 456 7890</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">© 2023 European Schoolnet</div>
</footer>
