<div>
  <h2 id="page-heading" data-cy="EventInOrganizationHeading">
    <span>Event In Organizations</span>

    <div class="d-flex justify-content-end">
      <!--      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">-->
      <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
      <!--        <span>Refresh list</span>-->
      <!--      </button>-->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event-in-organization"
        [routerLink]="['/event-in-organization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Event In Organization </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventInOrganizations?.length === 0">
    <span>No Event In Organizations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="eventInOrganizations && eventInOrganizations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="event.id">
            <div class="d-flex">
              <span>Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="organization.id">
            <div class="d-flex">
              <span>Organization</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventInOrganization of eventInOrganizations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/event-in-organization', eventInOrganization.id, 'view']">{{ eventInOrganization.id }}</a>
          </td>
          <td>
            <div *ngIf="eventInOrganization.event">
              <a [routerLink]="['/event', eventInOrganization.event.id, 'view']">{{ eventInOrganization.event.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="eventInOrganization.organization">
              <a [routerLink]="['/organization', eventInOrganization.organization.id, 'view']">{{ eventInOrganization.organization.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/event-in-organization', eventInOrganization.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/event-in-organization', eventInOrganization.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(eventInOrganization)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="eventInOrganizations && eventInOrganizations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
