<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reportBlocks">
      <h2 data-cy="reportBlocksDetailsHeading"><span>Report Blocks</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ reportBlocks.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ reportBlocks.name }}</span>
        </dd>
        <dt><span>Priority Number</span></dt>
        <dd>
          <span>{{ reportBlocks.priorityNumber }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ reportBlocks.isActive }}</span>
        </dd>
        <dt><span>Config</span></dt>
        <dd>
          <span>{{ reportBlocks.config }}</span>
        </dd>
        <dt><span>Country Id</span></dt>
        <dd>
          <span *ngFor="let countryId of reportBlocks.countryIds; let last = last">
            <a [routerLink]="['/countries', countryId.id, 'view']">{{ countryId.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Report</span></dt>
        <dd>
          <span *ngFor="let reportId of reportBlocks.reportIds; let last = last">
            <a [routerLink]="['/report', reportId.id, 'view']">{{ reportId.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/report-blocks', reportBlocks.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
