<div>
  <h2 id="page-heading" data-cy="MOEParticipationReferencesHeading">
    <span>MOE Participation References</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-moe-participation-references"
        [routerLink]="['/moe-participation-references/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new MOE Participation References </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mOEParticipationReferences?.length === 0">
    <span>No MOE Participation References found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="mOEParticipationReferences && mOEParticipationReferences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span>Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span>Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span>End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <div class="d-flex">
              <span>Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span>Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span>Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span>Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span>Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="countries.id">
            <div class="d-flex">
              <span>Countries</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mOEParticipationReferences of mOEParticipationReferences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/moe-participation-references', mOEParticipationReferences.id, 'view']">{{
              mOEParticipationReferences.id
            }}</a>
          </td>
          <td>{{ mOEParticipationReferences.name }}</td>
          <td>{{ mOEParticipationReferences.type }}</td>
          <td>{{ mOEParticipationReferences.startDate | formatMediumDate }}</td>
          <td>{{ mOEParticipationReferences.endDate | formatMediumDate }}</td>
          <td>{{ mOEParticipationReferences.isActive }}</td>
          <td>{{ mOEParticipationReferences.createdBy }}</td>
          <td>{{ mOEParticipationReferences.lastModifiedBy }}</td>
          <td>{{ mOEParticipationReferences.createdDate | formatMediumDate }}</td>
          <td>{{ mOEParticipationReferences.lastModifiedDate | formatMediumDate }}</td>
          <td>
            <span *ngFor="let countries of mOEParticipationReferences.countries; let last = last">
              <a class="form-control-static" [routerLink]="['/countries', countries.id, 'view']">{{ countries.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/moe-participation-references', mOEParticipationReferences.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/moe-participation-references', mOEParticipationReferences.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(mOEParticipationReferences)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
