<div *ngIf="!isFromReportBlock">
  <h2 id="page-heading" data-cy="WorkingGroupReferencesHeading">
    <span>Working Group References</span>

    <div class="d-flex justify-content-end">
      <!--      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">-->
      <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
      <!--        <span>Refresh list</span>-->
      <!--      </button>-->

      <button type="button" class="btn btn-success me-2" (click)="downloadExcel()">
        <fa-icon icon="check"></fa-icon>
        <span>Download Excel</span>
      </button>

      <button type="button" class="btn btn-info me-2" (click)="openModal()">
        <fa-icon icon="plus"></fa-icon>
        <span>Upload Excel</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-working-group-references"
        [routerLink]="['/working-group-references/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Working Group References </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [columnDefs]="columnDefs" [rowData]="workingGroupReferences" [totalItems]="totalItems"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="workingGroupReferences?.length === 0">
    <span>No Working Group References found</span>
  </div>
</div>
<div *ngIf="isFromReportBlock">
  <div class="alert alert-warning" *ngIf="workingGroupReferences?.length === 0 && type !== 'template'">
    <span>No Working Group References found</span>
  </div>

  <div class="table-responsive table-entities">
    <table class="table table-bordered" aria-describedby="page-heading">
      <thead>
        <tr *ngIf="type === 'template' || isEdit">
          <ng-container *ngFor="let col of settings">
            <th scope="col" *ngIf="isEdit || isActiveColumn(col.index)">
              <div class="d-flex">
                <input
                  [id]="'column_' + col.index"
                  [formControl]="getColumnFormControl(col.index, col.name)"
                  class="form-control"
                  *ngIf="type === 'template' || isEdit"
                  (change)="setColumnValue(col.index)"
                /><br />
              </div>
              <p class="table-col"></p>
              <input
                *ngIf="type === 'template' || isEdit"
                class="form-check-input"
                type="checkbox"
                [ngModel]="getValueTemplate(col.index)"
                (click)="setValueTemplate(col.index, col.name)"
              />
            </th>
          </ng-container>
        </tr>
        <tr *ngIf="type !== 'template' && !isEdit">
          <ng-container *ngFor="let col of template.columns">
            <th scope="col">
              <span>
                {{ col.name }}
              </span>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workingGroupReferences of workingGroupReferences; trackBy: trackId" data-cy="entityTable">
          <ng-container *ngFor="let col of settings">
            <td *ngIf="isEdit || isActiveColumn(col.index)">
              {{ getValue(workingGroupReferences, col.index) }}
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [class.show]="showModal" [class.d-block]="showModal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Excel File</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br />
      <div class="modal-body">
        <form (ngSubmit)="uploadFile()" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" class="form-control-file" (change)="onFileChange($event)" />
          </div>
          <br />
          <br />
          <br />
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>
