<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eventInOrganization">
      <h2 data-cy="eventInOrganizationDetailsHeading"><span>Event In Organization</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ eventInOrganization.id }}</span>
        </dd>
        <dt><span>Event</span></dt>
        <dd>
          <div *ngIf="eventInOrganization.event">
            <a [routerLink]="['/event', eventInOrganization.event.id, 'view']">{{ eventInOrganization.event.id }}</a>
          </div>
        </dd>
        <dt><span>Organization</span></dt>
        <dd>
          <div *ngIf="eventInOrganization.organization">
            <a [routerLink]="['/organization', eventInOrganization.organization.id, 'view']">{{ eventInOrganization.organization.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/event-in-organization', eventInOrganization.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
