<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reference-table-settings-heading" data-cy="ReferenceTableSettingsCreateUpdateHeading">
        Create or edit a Reference Table Settings
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_refTable">Ref Table</label>
          <input type="text" class="form-control" name="refTable" id="field_refTable" data-cy="refTable" formControlName="refTable" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_displayName">Display Name</label>
          <input
            type="text"
            class="form-control"
            name="displayName"
            id="field_displayName"
            data-cy="displayName"
            formControlName="displayName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label">Settings</label>
          <json-editor-toolbar
            [schema]="editForm.getRawValue().columns"
            [action]="'edit'"
            (columnsUpdated)="updateColumns($event)"
          ></json-editor-toolbar>
        </div>

        <!--        <div class="row mb-3">-->
        <!--          <label class="form-label" for="field_path">Path</label>-->
        <!--          <input type="text" class="form-control" name="path" id="field_path" data-cy="path" formControlName="path" />-->
        <!--        </div>-->

        <div class="row mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div style="padding: 15px">
          <div>
            <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
              <div class="text-wrapper">
                <div class="centered">
                  <input type="file" name="file" id="file" (change)="onFileChange($event)" />
                  <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <h3 mat-subheader>Files</h3>
          <div class="row fileItem" *ngFor="let f of files; let ind = index">
            <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(ind)">
              <i class="fa-6x fileItemIcon"></i>
            </div>
            <div class="col-sm-12 fileItemText">
              <span>{{ f.name }}</span>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
