.modal-iframe {
  width: 100%;
  height: 700px;
}

.disabled {
  background-color: #f0f0f0; /* Цвет фона для disabled */
  color: #999; /* Цвет текста для disabled */
  cursor: not-allowed; /* Измените курсор на "не доступно" */
}
