<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="personInOrganization">
      <h2 data-cy="personInOrganizationDetailsHeading"><span>Person In Organization</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ personInOrganization.id }}</span>
        </dd>
        <dt><span>Role In Organization</span></dt>
        <dd>
          <span>{{ personInOrganization.roleInOrganization }}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
          <div *ngIf="personInOrganization.person">
            <a [routerLink]="['/person', personInOrganization.person.id, 'view']">{{ personInOrganization.person.id }}</a>
          </div>
        </dd>
        <dt><span>Organization</span></dt>
        <dd>
          <div *ngIf="personInOrganization.organization">
            <a [routerLink]="['/organization', personInOrganization.organization.id, 'view']">{{ personInOrganization.organization.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/person-in-organization', personInOrganization.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
