<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="referenceTableSettings">
      <h2 data-cy="referenceTableSettingsDetailsHeading"><span>Reference Table Settings</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ referenceTableSettings.id }}</span>
        </dd>
        <dt><span>Ref Table</span></dt>
        <dd>
          <span>{{ referenceTableSettings.refTable }}</span>
        </dd>
        <dt><span>Columns</span></dt>
        <dd>
          <span>{{ referenceTableSettings.columns }}</span>
        </dd>
        <dt><span>Path</span></dt>
        <dd>
          <span>{{ referenceTableSettings.path }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ referenceTableSettings.isActive }}</span>
        </dd>
        <dt><span>File</span></dt>
        <dd>
          <div *ngIf="referenceTableSettings.file">
            <a (click)="openFile(referenceTableSettings.file, referenceTableSettings.fileContentType)">Open</a>
            {{ referenceTableSettings.fileContentType }}, {{ byteSize(referenceTableSettings.file) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/reference-table-settings', referenceTableSettings.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
