<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eunTeamMember">
      <h2 data-cy="eunTeamMemberDetailsHeading"><span>Eun Team Member</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ eunTeamMember.id }}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
          <span>{{ eunTeamMember.role }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ eunTeamMember.status }}</span>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
          <div *ngIf="eunTeamMember.team">
            <a [routerLink]="['/eun-team', eunTeamMember.team.id, 'view']">{{ eunTeamMember.team.id }}</a>
          </div>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
          <div *ngIf="eunTeamMember.person">
            <a [routerLink]="['/person', eunTeamMember.person.id, 'view']">{{ eunTeamMember.person.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/eun-team-member', eunTeamMember.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
