<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reportTemplate">
      <h2 data-cy="reportTemplateDetailsHeading"><span>Report Template</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ reportTemplate.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ reportTemplate.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ reportTemplate.description }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ reportTemplate.type }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ reportTemplate.isActive }}</span>
        </dd>
        <dt><span>File</span></dt>
        <dd>
          <div *ngIf="reportTemplate.file">
            <span class="download-link">
              <a (click)="openFile(reportTemplate.file, reportTemplate.fileContentType)" style="color: red">
                <i class="fas fa-download"></i> <span style="color: red">Download</span>
              </a>
            </span>
            <span class="file-info"> {{ reportTemplate.fileContentType }}, {{ byteSize(reportTemplate.file) }} </span>
          </div>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ reportTemplate.createdBy }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ reportTemplate.lastModifiedBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ reportTemplate.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ reportTemplate.lastModifiedDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/report-template', reportTemplate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
