<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mOEParticipationReferences">
      <h2 data-cy="mOEParticipationReferencesDetailsHeading"><span>MOE Participation References</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.name }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.type }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.isActive }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.createdBy }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.lastModifiedBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ mOEParticipationReferences.lastModifiedDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/moe-participation-references', mOEParticipationReferences.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
