<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="form">
      <h2 id="jhi-report-blocks-heading" data-cy="ReportBlocksCreateUpdateHeading">Country</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <div class="row mb-3">
          <label>Country: </label>

          <select
            class="form-control"
            id="field_countryIds"
            data-cy="countryId"
            name="countryIds"
            formControlName="countryIds"
            [(ngModel)]="selectedCountryId"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="country.id" *ngFor="let country of reportBlocks?.countryIds">{{ country.countryName }}</option>
          </select>
        </div>
      </div>
    </form>
    <div class="btn-group">
      <button type="submit" routerLink="../../" class="btn btn-info">
        <i class="fa fa-arrow-left"></i>
        <span>Cancel</span>
      </button>

      <button
        type="button"
        class="btn btn-success"
        [routerLink]="['/report-blocks', reportBlocks?.id, selectedCountryId, 'edit-content']"
        [disabled]="selectedCountryId === null"
      >
        <span>Next</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
